<div class="aside-block">
    <div class="title-with-arrows">
        <h2 class="h1-style">{{ block.settings.heading }}</h2>
        <div class="carousel-arrows"></div>
    </div>
    <div class="testimonials-carousel data-slick" data-slick='{"slidesToShow": 1}'>
        {% for i in (1..3) %}
            {% capture review %}review_{{ i }}{% endcapture %}
            {% capture image %}image_{{ i }}{% endcapture %}
            {% capture name %}name_{{ i }}{% endcapture %}
            {% capture date %}date_{{ i }}{% endcapture %}
            {% if block.settings[review] != blank %}
                <div class="testimonials-item">
                    <div class="testimonials-item-text">
                        {{ block.settings[review] }}
                    </div>
                    <div class="d-flex">
                        <div class="testimonials-item-photo">
                            <img src="{% if block.settings[image] != blank %}{{ block.settings[image] | img_url:'81x81', scale:2 }}{% else %}{{ 'testimonial-author-photo.png' | asset_url }}{% endif %}" alt="{{ block.settings[name] }}">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <div class="testimonials-item-name"><span>{{ block.settings[name] }}</span></div>
                            <div class="testimonials-item-date"><span>{{ block.settings[date] }}</span></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>