<div class="aside-block">
    <h2 class="text-uppercase">{{ block.settings.heading }}</h2>
    <div class="instagram-grid three-in-row">
        <div id="instafeed{{ block.id }}" class="instagram-feed-full js-instagram-feed" data-instafeed='{"limit": "{{ block.settings.insta_limit }}", "accessToken": "{{ block.settings.insta_token }}", "sortBy": "{{ block.settings.insta_sort }}"}'></div>
    </div>
</div>