<div class="col-md">
    <a {% if settings.shop_info_caption_1_link != blank %}href="{{ settings.shop_info_caption_1_link }}"{% endif %} class="shop-feature light-color">
        <div class="shop-feature-icon"><i class="{{ settings.shop_info_caption_1_icon }}"></i></div>
        <div class="shop-feature-text">
            <div class="text1">{{ settings.shop_info_caption_1_1_text }}</div>
            <div class="text2">{{ settings.shop_info_caption_1_2_text }}</div>
        </div>
      	<span class="shop-feature-bg"></span>
    </a>
</div>
<div class="col-md">
    <a {% if settings.shop_info_caption_2_link != blank %}href="{{ settings.shop_info_caption_2_link }}"{% endif %} class="shop-feature light-color">
        <div class="shop-feature-icon"><i class="{{ settings.shop_info_caption_2_icon }}"></i></div>
        <div class="shop-feature-text">
            <div class="text1">{{ settings.shop_info_caption_2_1_text }}</div>
            <div class="text2">{{ settings.shop_info_caption_2_2_text }}</div>
        </div>
      	<span class="shop-feature-bg"></span>
    </a>
</div>
<div class="col-md">
    <a {% if settings.shop_info_caption_3_link != blank %}href="{{ settings.shop_info_caption_3_link }}"{% endif %} class="shop-feature light-color">
        <div class="shop-feature-icon"><i class="{{ settings.shop_info_caption_3_icon }}"></i></div>
        <div class="shop-feature-text">
            <div class="text1">{{ settings.shop_info_caption_3_1_text }}</div>
            <div class="text2">{{ settings.shop_info_caption_3_2_text }}</div>
        </div>
      	<span class="shop-feature-bg"></span>
    </a>
</div>