<footer class="page-footer footer-style-9 fullboxed">
    {% if section.settings.shop_info_yes %}
        <div class="holder bgcolor bgcolor-1 mt-0">
            <div class="container">
                <div class="row shop-features-style3">
                    {% include 'footer_shop_info' %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="footer-top container">
        <div class="row py-md-4 py-lg-6">
            <div class="col-md">
                <div class="footer-block collapsed-mobile">
                    {% if section.settings.navigation_1 != blank %}
                        <div class="title">
                            <h4>{{ linklists[section.settings.navigation_1].title }}</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul>
                                {% for link in linklists[section.settings.navigation_1].links %}
                                    <li>
                                        {{ link.title | append:label | link_to: link.url }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>Choose Navigation in Theme Settings / Footer / NAVIGATION 1</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md">
                <div class="footer-block collapsed-mobile">
                    {% if section.settings.navigation_2 != blank %}
                        <div class="title">
                            <h4>{{ linklists[section.settings.navigation_2].title }}</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul>
                                {% for link in linklists[section.settings.navigation_2].links %}
                                    <li>
                                        {{ link.title | append:label | link_to: link.url }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>Choose Navigation in Theme Settings / Footer / NAVIGATION 2</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md">
                <div class="footer-block collapsed-mobile">
                    {% if section.settings.navigation_3 != blank %}
                        <div class="title">
                            <h4>{{ linklists[section.settings.navigation_3].title }}</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul>
                                {% for link in linklists[section.settings.navigation_3].links %}
                                    <li>
                                        {{ link.title | append:label | link_to: link.url }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>Choose Navigation in Theme Settings / Footer / NAVIGATION 3</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md">
                <div class="footer-block">
                    <div class="title">
                        <h4>{{ 'general.theme.follow_us' | t }}</h4>
                    </div>
                    <p>{{ 'general.theme.sign_up_for_our_newsletter' | t }}</p>
                    {% include 'social-media-links' %}
                </div>
            </div>
        </div>
    </div>
    {% if section.settings.shop_info_yes %}
    <div class="bg-cover py-3 py-md-7"  style="background-image:url({% if settings.shop_info_bg != blank %}{{ settings.shop_info_bg | img_url:'master' }}{% else %}{{ 'footer-shopfeatures-bg.jpg' | asset_url }}{% endif %});">
        <div class="container">
            <div class="row shop-features-style5 light-color">
                {% include 'footer_shop_info' %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container footer-bottom">
        <div class="row lined py-2 py-md-3">
            <div class="footer-logo col-md">
                {% include 'footer-logo' %}
            </div>
            <div class="footer-copyright col-md ml-auto text-md-right">
                {{ section.settings.copyright }}
            </div>
        </div>
    </div>
</footer>