<!-- Basic page needs ================================================== -->
<meta charset="utf-8">
{% assign favicon = settings.favicon %}
{% if favicon != blank %}
    {% capture favicon_url %}{{ favicon | img_url }}{% endcapture %}
{% else %}
    {% capture favicon_url %}{{ 'favicon.ico' | asset_url }}{% endcapture %}
{% endif %}
<link rel="icon" href="{{ favicon_url }}"  />
<!-- Goodwin Version 1.1.0 -->
{% capture seo_title %} {{ page_title }} {% if current_tags %} {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}} {% endif %} {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }} {% endif %}
    {% unless page_title contains shop.name %} &ndash; {{ shop.name }} {% endunless %}
{% endcapture %}
<title>{{ seo_title }}</title>
{% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
{% endif %}
<!-- Social meta ================================================== -->
{% include 'social-meta-tags' %}
<!-- Helpers ================================================== -->
<link rel="canonical" href="{{ canonical_url }}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<!-- Bootstrap core CSS -->
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
<!-- Vendor CSS -->
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery.selectBox.css' | asset_url | stylesheet_tag }}
<!-- Custom styles for this template -->
{% if home and slides_mode %}
    {{ 'fullpage.css' | asset_url | stylesheet_tag }}
    {{ 'perfect-scrollbar.css' | asset_url | stylesheet_tag }}
{% endif %}
{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'animate.min.css' | asset_url | stylesheet_tag }}
<!-- Custom + rtl -->
{{ 'custom.css' | asset_url | stylesheet_tag }}
<!--custom font-->
{% include 'google-fonts' %}
{{ 'jquery.min.js' | asset_url | script_tag | replace:'type="text/javascript"','' }}
{{ 'jquery.cookie.min.js' | asset_url | script_tag | replace:'type="text/javascript"','' }}
{{ 'ImageComparison.css' | asset_url | stylesheet_tag }}
{{ 'ImageComparison.js' | asset_url | script_tag }}
    {% comment %} Bold:POv2 {% endcomment %}
    {%- include 'bold-product' with product, hide_action: 'header' -%}
    {% include 'bold-common' %}
    {{ 'bold-helper-functions.js' | asset_url | script_tag }}
    {{ 'bold.css' | asset_url | stylesheet_tag }} 
<script>
    var price_format="{{ shop.money_with_currency_format | strip | remove:'"' }}";
    locale = [];
    window.shopCurrency = "{{ shop.currency }}";
    window.supported_currencies = "{{ settings.supported_currencies }}";
    locales={
        recently_added_items:"{{ 'general.theme.recently_added_items' | t }}",
        no_items_in_cart:"{{ 'general.theme.no_items_in_cart' | t }}",
        remove:"{{ 'cart.general.remove' | t }}",
        edit:"{{ 'general.theme.edit' | t }}",
        price:"{{ 'general.theme.price' | t }}",
        empty_minicart_text_1:"{{ 'general.theme.empty_minicart_text_1' | t }}",
        empty_minicart_text_2:"{{ 'general.theme.empty_minicart_text_2' | t }}",
        empty_minicart_text_3:"{{ 'general.theme.empty_minicart_text_3' | t }}",
        recently_added_items:"{{ 'general.theme.recently_added_items' | t }}",
        subtotal:"{{ 'cart.general.subtotal' | t }}",
        go_to_checkout:"{{ 'general.theme.go_to_checkout' | t }}",
        view_cart:"{{ 'general.theme.view_cart' | t }}",
        qty:"{{ 'cart.label.quantity' | t }}",
        apply:"{{ 'general.theme.apply' | t }}",
        added:"{{ 'general.theme.added' | t }}",
        add_to_cart:"{{ 'products.product.add_to_cart' | t }}",
        adding:"{{ 'general.theme.adding' | t }}",
        days:"{{ 'general.theme.days' | t }}",
        hrs:"{{ 'general.theme.hrs' | t }}",
        min:"{{ 'general.theme.min' | t }}",
        sec:"{{ 'general.theme.sec' | t }}",
        inventory_error:"{{ 'general.theme.inventory_error' | t }}"
    }
</script>
<style>
    .equal-height .prd  .prd-img-area {
        padding-top: {{ settings.product_ratio_h | divided_by: settings.product_ratio_w | times: 100 }}%;
    }
</style>
{{ 'lazysizes.min.js' | asset_url | script_tag }}