<!-- Color Swatch -->
{% assign has_color = false %}
{% assign index_color = 0 %}
{% for option in product.options %}
    {% capture downcased_option %}{{ option | downcase }}{% endcapture %}
    {% if downcased_option contains 'color' %}
        {% assign has_color = true %}
        {% assign index_color = forloop.index0 %}
    {% endif %}
{% endfor %}
{% if has_color %}
    {% assign colors_count = 0 %}
    <ul class="list-options color-swatch prd-hidemobile">
        {% assign colors = '' %}
        {% for variant in product.variants %}
            {% capture color %}{{ variant.options[index_color] }}{% endcapture %}
            {% capture wrapped_color %},{{ color }},{% endcapture %}
            {% unless colors contains wrapped_color %}
            {% assign colors_count = colors_count | plus: 1 %}
            {% if colors_count < 6 %}
                <li data-image="{{ variant.image.src | img_url: grid_image_width, scale: grid_image_scale }}"><a href="#" class="js-color-toggle"><img src="{% if settings.product_previews_colors_variants %}{{ variant.image.src |  img_url: '35x', scale:2}}{% else %}{{ color | handle | prepend: 'color-' | append: '.png' | file_url | downcase }}{% endif %}" alt="{{ color }}"></a></li>
            {% endif %}
            {% capture colors %}{{ colors }}{{ wrapped_color }}{% endcapture %}
            {% endunless %}
        {% endfor %}
    </ul>
    <!-- /Color Swatch -->
{% endif %}