{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}
{% capture price %}{{ product.price | money }}{% endcapture %}
<div class="prd-price">
    {% capture price %}{{ product.price | money }}{% endcapture %}
    <div class="price-new">{% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}</div>
    {% if on_sale %}
        <div class="price-old">{{ product.compare_at_price | money }}</div>
        {% if settings.show_you_save %}<div class="price-comment">{{ 'general.theme.you_save' | t }} {{ product.compare_at_price | minus: product.price | money }}</div>{% endif %}
    {% endif %}
</div>