{% unless settings.slides_mode %}
<div class="holder fullwidth full-nopad {{ section.settings.outer_margin }}">
    <div class="container">
        <div class="row no-gutters bnr-grid">
            <div class="col-md">
                <div class="bnr banner-left-right bnr--style-1 bnr--center bnr--middle bnr-hover-scale has-loader">
                    <img src="{% if section.settings.image_1 %}{{ section.settings.image_1 | img_url:'master' }}{% else %}{{ 'bnr-fashion2-01.jpg'  | asset_url }}{% endif %}" alt="">
					<div class="gdw-loader"></div>
                    <span class="bnr-caption">
					<span class="bnr-text-wrap">
						<span class="bnr-text2">{{ section.settings.title_1 }}</span>
                        {% if section.settings.link_1 != blank %}<a href="{{ section.settings.link_1 }}" class="btn-decor btn-decor--md">{{ section.settings.link_1_title }}<span class="btn-line"></span></a>{% endif %}
						<span class="bnr-links">
							{{ section.settings.custom_html_1 }}
						</span>
					</span>
				</span>
                </div>
            </div>
            <div class="col-md">
                <div class="bnr banner-left-right bnr--style-1 bnr--center bnr--middle bnr-hover-scale has-loader">
                    <img src="{% if section.settings.image_1 %}{{ section.settings.image_1 | img_url:'master' }}{% else %}{{ 'bnr-fashion2-02.jpg'  | asset_url }}{% endif %}" alt="">
					<div class="gdw-loader"></div>
                    <span class="bnr-caption">
					<span class="bnr-text-wrap">
						<span class="bnr-text2">{{ section.settings.title_2 }}</span>
                        {% if section.settings.link_2 != blank %}<a href="{{ section.settings.link_2 }}" class="btn-decor btn-decor--md">{{ section.settings.link_2_title }}<span class="btn-line"></span></a>{% endif %}
						<span class="bnr-links">
							{{ section.settings.custom_html_2 }}
						</span>
					</span>
				</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endunless %}
{% schema %}
{
"name": "Banners Left+Right",
"class": "index-section",
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-1","label":"10px"},
{"value":"mt-2","label":"20px"},
{"value":"mt-3","label":"30px"},
{"value":"mt-4","label":"40px"},
{"value":"mt-5","label":"50px"},
{"value":"mt-6","label":"60px"},
{"value":"mt-65","label":"65px"},
{"value":"mt-7","label":"70px"},
{"value":"mt-8","label":"80px"},
{"value":"mt-9","label":"90px"},
{"value":"mt-10","label":"100px"}
],
"default": "mt-65"
},
{
"type": "header",
"content": "Banner Left"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image",
"info":"recommended width 1000x552px"
},
{
"type": "text",
"id": "title_1",
"label": "Title",
"default":"MEN’S"
},
{
"type": "text",
"id": "link_1_title",
"label": "Link title",
"default":"Shop Now"
},
{
"type": "url",
"id": "link_1",
"label": "Link"
},
{
"type": "textarea",
"id": "custom_html_1",
"label": "Custom Html",
"default": "<a href='#'>JEWELLERY</a> <a href='#'>ACCESSORIES</a> <a href='#'>CLOTHING</a> <a href='#'>GROOMING</a> <a href='#'>NEW</a> <a href='#'>SALE</a>"
},
{
"type": "header",
"content": "Banner Right"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image",
"info":"recommended width 1000x552px"
},
{
"type": "text",
"id": "title_2",
"label": "Title",
"default":"WOMEN’S"
},
{
"type": "text",
"id": "link_2_title",
"label": "Link title",
"default":"Shop Now"
},
{
"type": "url",
"id": "link_2",
"label": "Link"
},
{
"type": "textarea",
"id": "custom_html_2",
"label": "Custom Html",
"default": "<a href='#'>JEWELLERY</a> <a href='#'>ACCESSORIES</a> <a href='#'>CLOTHING</a> <a href='#'>GROOMING</a> <a href='#'>NEW</a> <a href='#'>SALE</a>"
}
],
"presets": [
{
"name": "Banners Left+Right",
"category": "Banners"
}
]
}
{% endschema %}