{% unless settings.slides_mode %}
{% if section.settings.enable %}
    <div class="holder  global_width {{ section.settings.outer_margin }} {% if section.settings.show_above_footer %}show_above_footer{% endif %}">
        <div class="container">
            {% if section.settings.heading != blank %}<h2 class="h1-style text-center">{{ section.settings.heading }}</h2>{% endif %}
            <ul class="brand-carousel js-brand-carousel slick-arrows-aside-simple">
                {% for block in section.blocks %}
                    {% if block.settings.enable %}
                        <li><a href="{{ block.settings.link }}" target="{{ block.settings.link_target }}"  title="{{ block.settings.title }}"><img  src="{% if block.settings.image %}{{ block.settings.image | img_url:'master' }}{% endif %}{% if block.settings.image == blank %}{{ 'brand-logo-01.png'  | asset_url }}{% endif %}" alt="{{ block.settings.title }}"></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if section.settings.link_button_yes %}<div class="text-center"><a {% if section.settings.link %}href="{{ section.settings.link }}" target="{{ section.settings.link_target }}"{% endif %} class="btn-decor">{{ section.settings.link_button_text }}</a></div>{% endif %}
        </div>
    </div>
{% endif %}
{% endunless %}
{% schema %}
{
"name": "Brands",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-1","label":"10px"},
{"value":"mt-2","label":"20px"},
{"value":"mt-3","label":"30px"},
{"value":"mt-4","label":"40px"},
{"value":"mt-5","label":"50px"},
{"value":"mt-6","label":"60px"},
{"value":"mt-65","label":"65px"},
{"value":"mt-7","label":"70px"},
{"value":"mt-8","label":"80px"},
{"value":"mt-9","label":"90px"},
{"value":"mt-10","label":"100px"}
],
"default": "mt-65"
},
{
"type": "checkbox",
"id": "show_above_footer",
"label": "Show block above the footer",
"default": false,
"info":"usefull when column is enabled"
},{
"type": "checkbox",
"id": "show_under_header",
"label": "Show block under the header",
"default": false,
"info":"usefull when column is enabled"
},
{
"type": "header",
"content": "General"
},
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Partners"
},
{
"type": "checkbox",
"id": "link_button_yes",
"label": "Add link button",
"default":false
},
{
"type": "text",
"id": "link_button_text",
"label": "Link button text",
"default":"view all brands"
},
{
"type": "url",
"id": "link",
"label": "Link"
},
{
"type": "select",
"id": "link_target",
"label": "Link Target",
"default":"_self",
"options": [
{ "value": "_blank", "label": "New page" },
{ "value": "_self",  "label": "In current page" }
]
}

],
"blocks": [
{
"type": "brand",
"name": "Brand",
"settings": [
{
"type":"checkbox",
"id":"enable",
"label":"Enable",
"default":true
},
{
"type": "text",
"id": "title",
"label": "Name",
"default": "Bigsteps"
},
{
"type": "image_picker",
"id": "image",
"label": "Image",
"info":"recommended size 183x134px"
},
{
"type": "url",
"id": "link",
"label": "Slide link"
},
{
"type": "select",
"id": "link_target",
"label": "Link Target",
"default":"_self",
"options": [
{ "value": "_blank", "label": "New page" },
{ "value": "_self",  "label": "In current page" }
]
}
]
}
],
"presets": [{
"name": "Brands",
"category": "Brands",
"blocks": [
{
"type": "brand"
},
{
"type": "brand"
},
{
"type": "brand"
},
{
"type": "brand"
},
{
"type": "brand"
},
{
"type": "brand"
},
{
"type": "brand"
}
]
}]
}
{% endschema %}