{% unless settings.slides_mode %}
<div class="holder fullwidth  {{ section.settings.outer_margin }}">
	<div class="container">
		<div class="card-imgtext-wrap">
			<div class="row vert-margin">
				<div class="col order-1">
					<div class="card-imgtext">
						<div class="card-imgtext-image">
							<img src="{% if section.settings.image %}{{ section.settings.image | img_url:'master' }}{% else %}{{ 'img-furniture-1.jpg'  | asset_url }}{% endif %}" alt="" class="img-responsive">
						</div>
						<div class="card-imgtext-text">
							<h2 class="card-imgtext-title">{{ section.settings.caption_1 }}</h2>
							<p>{{ section.settings.desc_1 }}</p>
							<a href="{{ section.settings.link | default:'#' }}" class="btn-decor">{{ section.settings.link_title }}</a>
						</div>
					</div>
				</div>
				<div class="col-double order-2">
					<div class="card-imgtext">
						<div class="card-imgtext-image">
							<img src="{% if section.settings.image_2 %}{{ section.settings.image_2 | img_url:'master' }}{% else %}{{ 'img-furniture-2.jpg'  | asset_url }}{% endif %}" alt="" class="img-responsive">
						</div>
						<div class="card-imgtext-text">
							<h2 class="card-imgtext-title">{{ section.settings.caption_2 }}</h2>
							<p>{{ section.settings.desc_2 }}</p>
							<a href="{{ section.settings.link_2 | default:'#' }}" class="btn-decor">{{ section.settings.link_title_2 }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endunless %}
{% schema %}
{
"name": "Banners 2 + text Style 4",
"class": "index-section",
"settings": [
{
"type": "header",
"content": "Layout"
},
{
"type": "select",
"id": "outer_margin",
"label": "Outer top margin",
"options":[
{"value":"mt-0","label":"None"},
{"value":"mt-1","label":"10px"},
{"value":"mt-2","label":"20px"},
{"value":"mt-3","label":"30px"},
{"value":"mt-4","label":"40px"},
{"value":"mt-5","label":"50px"},
{"value":"mt-6","label":"60px"},
{"value":"mt-65","label":"65px"},
{"value":"mt-7","label":"70px"},
{"value":"mt-8","label":"80px"},
{"value":"mt-9","label":"90px"},
{"value":"mt-10","label":"100px"}
],
"default": "mt-65"
},
{
"type": "header",
"content": "Product 1"
},
{
"type": "image_picker",
"id": "image",
"label": "Image",
"info":"recommended width 416x332px (like in demo)"
},
{
"type": "text",
"id": "link_title",
"label": "Link title",
"default":"Shop Now"
},
{
"type": "url",
"id": "link",
"label": "Link"
},
{
"type": "text",
"id": "caption_1",
"label": "Caption",
"default":"TABLES"
},
{
"type": "textarea",
"id": "desc_1",
"label": "Description",
"default":"Lorem ipsum dolor sit amet onses adicpis elitr anno dolor sit amet ipsum dolor it amet"
},
{
"type": "header",
"content": "Product 2"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image",
"info":"recommended width 690x319px (like in demo)"
},
{
"type": "text",
"id": "link_title_2",
"label": "Link title",
"default":"Shop Now"
},
{
"type": "url",
"id": "link_2",
"label": "Link"
},
{
"type": "text",
"id": "caption_2",
"label": "Caption",
"default":"SOFAS"
},
{
"type": "textarea",
"id": "desc_2",
"label": "Description",
"default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
}
],
"presets": [
{
"name": "Banners 2 + text Style 4",
"category": "Banners"
}
]
}
{% endschema %}