{% unless settings.slides_mode %}
  <div class="holder {{ section.settings.block_width }}  {{ section.settings.outer_margin }} ">
    <div class="container holder-bg-13">
      <div class="row shop-features-style2-1">
        <div class="col-sm-4">
          <a {% if section.settings.caption_1_link != blank %}href="{{ section.settings.caption_1_link }}"{% endif %} class="shop-feature">
            <div class="shop-feature-icon"><i class="{{ section.settings.caption_1_icon }}"></i></div>
            <div class="shop-feature-text">
              <div class="text1">{{ section.settings.caption_1_1_text }}</div>
              <div class="text2">{{ section.settings.caption_1_2_text }}</div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a {% if section.settings.caption_2_link != blank %}href="{{ section.settings.caption_2_link }}"{% endif %} class="shop-feature">
            <div class="shop-feature-icon"><i class="{{ section.settings.caption_2_icon }}"></i></div>
            <div class="shop-feature-text">
              <div class="text1">{{ section.settings.caption_2_1_text }}</div>
              <div class="text2">{{ section.settings.caption_2_1_text }}</div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a {% if section.settings.caption_3_link != blank %}href="{{ section.settings.caption_3_link }}"{% endif %} class="shop-feature">
            <div class="shop-feature-icon"><i class="{{ section.settings.caption_3_icon }}"></i></div>
            <div class="shop-feature-text">
              <div class="text1">{{ section.settings.caption_3_1_text }}</div>
              <div class="text2">{{ section.settings.caption_3_1_text }}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endunless %}
{% schema %}
  {
    "name": "Shop info",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type":"select",
        "id":"block_width",
        "label":"Width",
        "options":[
          {"value":"boxed","label":"Boxed"},
          {"value":"fullwidth fullwidth--nopad","label":"Fullwidth"},
          {"value":"global_width","label":"Use global site width"}
        ],
        "default":"fullwidth fullwidth--nopad",
        "info":"click Save to see changes"
      },
  {
  "type": "select",
  "id": "outer_margin",
  "label": "Outer top margin",
  "options":[
  {"value":"mt-0","label":"None"},
  {"value":"mt-1","label":"10px"},
  {"value":"mt-2","label":"20px"},
  {"value":"mt-3","label":"30px"},
  {"value":"mt-4","label":"40px"},
  {"value":"mt-5","label":"50px"},
  {"value":"mt-6","label":"60px"},
  {"value":"mt-65","label":"65px"},
  {"value":"mt-7","label":"70px"},
  {"value":"mt-8","label":"80px"},
  {"value":"mt-9","label":"90px"},
  {"value":"mt-10","label":"100px"}
  ],
  "default": "mt-65"
  },
      {
      "type": "header",
      "content": "General"
      },
           {
        "type":"header",
        "content":"Caption 1"
      },
  {
  "type": "url",
  "id": "caption_1_link",
  "label": "Link"
  },
      {
        "type": "text",
        "id": "caption_1_1_text",
        "label": "Text 1",
        "default":"Free worlwide delivery"
      },{
        "type": "text",
        "id": "caption_1_2_text",
        "label": "Text 2",
        "default":"Lorem ipsum dolor sit amet"
      },
      {
        "type": "text",
        "id": "caption_1_icon",
        "label": "icon code",
        "default": "icon-box3"
      },
      {
        "type":"header",
        "content":"Caption 2"
      },
  {
  "type": "url",
  "id": "caption_2_link",
  "label": "Link"
  },
      {
        "type": "text",
        "id": "caption_2_1_text",
        "label": "Text 1",
        "default":"100% money back guarantee"
      },{
"type": "text",
"id": "caption_2_2_text",
"label": "Text 2",
"default":"Lorem ipsum dolor sit amet"
},
      {
        "type": "text",
        "id": "caption_2_icon",
        "label": "icon code",
        "default": "icon-arrow-left-circle"
      },
      {
        "type":"header",
        "content":"Caption 3"
      },
  {
  "type": "url",
  "id": "caption_3_link",
  "label": "Link"
  },
      {
        "type": "text",
        "id": "caption_3_1_text",
        "label": "Text 1",
        "default":"24/7 customer support"
      },{
"type": "text",
"id": "caption_3_2_text",
"label": "Text 2",
"default":"Lorem ipsum dolor sit amet"
}, {
  "type": "text",
  "id": "caption_3_icon",
  "label": "icon code",
  "default": "icon-call"
  }
    ],
    "presets": [
      {
        "name": "Shop Info",
        "category": "Text"
      }
    ]
  }
{% endschema %}