{% include 'global_vars' %}
{% layout none %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head' %}
  </head>
  <body>

    <div class="page-content">
      <div class="holder fullheight d-flex align-items-center my-0 bg-center  bg-hide-sm" {% if settings.password_page_bg_yes %} style="background-image: url({% if settings.password_page_bg %}{{ settings.password_page_bg | img_url:'master' }}{% else %}{{ 'coming-soon-bg.jpg' | asset_url }}{% endif %})"{% endif %}>
        <div class="container coming-soon-block">
          <div class="text-center">
            <div class="d-flex justify-content-center"><div class="animated driveInTop"><img src="{% if settings.password_page_logo %}{{ settings.password_page_logo | img_url:'master' }}{% else %}{{ 'logo-xl.png' | asset_url }}{% endif %}" class="img-responsive" alt="{{ shop.title }}"> </div></div>
            <div class="animated zoomIn d-flex justify-content-center" style="animation-delay: .75s;"><h2 class="h-lg text-uppercase mt-15">{{ 'general.theme.coming_soon' | t }}</h2> </div>
            {% if settings.password_page_date != blank %}
              <div class="animated flipInX d-flex justify-content-center" style="animation-delay: 2s;"><div class="countdown-box-cooming mt-4"><div class="countdown js-countdown" data-countdown="{{ settings.password_page_date }}"></div></div> </div>
            {% endif %}
          </div>
          <div class="row justify-content-between mt-7">
            <div class="col-md mt-2 mt-md-0">
              {% form 'customer' %}
              <div class="animated fadeInLeft w-100" style="animation-delay: .5s;">
                <div class="form-inline form-inline--flex justify-content-center">

                  {% if form.posted_successfully? %}
                  <span class="success-message">{{ 'homepage.password_page.signup_form_success' | t }}</span>
                  {% else %}

                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <input type="text" class="form-control" name="contact[email]" placeholder="{{ 'homepage.password_page.signup_form_email_placeholder' | t }}">

                  <button class="btn-decor" type="submit">{{ 'general.newsletter_form.submit' | t }}</button>
                  {{ form.errors | default_errors }}
                  {% endif %}

                </div>
              </div>
              {% endform %}
            </div>
            <div class="col-md mt-2 mt-md-0">
              {% form 'storefront_password' %}
              <div class="animated fadeInRight" style="animation-delay: .5s;">
                <div class="form-inline form-inline--flex justify-content-center">
                  <input  class="form-control"  type="password" name="password" placeholder="{{ 'homepage.password_page.login_form_password_placeholder' | t }}">
                  <button type="submit" class="btn-decor">{{ 'homepage.password_page.login_form_submit' | t }}</button>
                </div>
                {{ form.errors | default_errors }}
              </div>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'before_body_end' %}
  </body>
</html>